@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Taviraj:wght@100;200;300;400;700;900&display=swap");

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ababab;
  background-color: #ffffff;
  font-family: "Catamaran", sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

a {
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}

* {
  box-sizing: border-box;
  font-size: 16px;
}
*:before {
  box-sizing: border-box;
}
*:after {
  box-sizing: border-box;
}

h1,
h2,
p,
span {
  margin: 0;
  line-height: 1.1;
}

button {
  outline: none;
}

@media (max-width: 1024px) {
  * {
    font-size: 14px;
  }
}

/*
 #c2997e
 #343130
 #ababab
*/
